@use '../resources/_generic_styles' as *;

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    width: 100%;
    aspect-ratio: 20 / 10;
    background-color: red;
}

.element {
    position: absolute;
    background-color: yellow;
    width: 5%;
    aspect-ratio: 1 / 1;

    font-size: 12px;
}