@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESET CSS ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* GENERAL BODY ATTRIBUTES ––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  display: flex;
  justify-content: center;
  font: 16px Verdana;
  color: #CCCCCC;
  background-color: #25274d;
  min-height: 100vh;
}

p {
  color: #CCCCCC;
}

body, body * {
  box-sizing: border-box;
  line-height: 1.2em;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #959DBD;
  border: 0 none #ffffff;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* TEXT ELEMENTS ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3 {
  display: inline-block;
  color: #CCCCCC;
}

h1 {
  font: 7rem Silom, sans-serif;
  margin: 100px;
}

h2 {
  font: 3rem Futura, sans-serif;
}

h3 {
  font: 1.8rem Futura, sans-serif;
}

h2 {
  margin: 40px;
}

h3 {
  padding: 5px;
}

pre, textarea {
  font-family: monospace;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

textarea {
  resize: none;
}

*:focus {
  outline: inherit;
}

/* CENTER ELEMENT –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body > #center {
  width: 100%;
  max-width: 1300px;
  margin: 40px 60px;
  padding: 0 10px;
}

/* INTERACTABLE ELEMENTS ––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
label.interactable input {
  display: none;
}
label.interactable div {
  color: #CCCCCC;
  font: 1.5rem Arial Black, Arial;
  padding: 4px;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
}
label.interactable div {
  background: #595e75;
}
label.interactable input:checked + div {
  background: #3c4b86;
}
label.interactable:hover div {
  background: #505569;
}
label.interactable:hover input:checked + div {
  background: #364479;
}
label.interactable:active div {
  background: #353846;
}
label.interactable:active input:checked + div {
  background: #242d50;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  width: 100%;
}

#canvasWrapper {
  max-height: calc(100vh - 80px);
  max-width: calc((100vh - 80px) * 0.8333333333);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#canvasWrapper::before {
  float: left;
  padding-top: calc(1.2 * 100%);
  content: "";
}
#canvasWrapper::after {
  display: block;
  content: "";
  clear: both;
}

/*# sourceMappingURL=styles.css.map */
